<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} timer</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>{{ title }} timer</h1>
    <p>rc code is : {{ rc_code }}</p>
      <p>current line {{ line_nr }}</p><p>  
      <table>
        {{ current_line | safe }}
      </table>  
    <form action="/set_timer">
        <select id="dev_ip" name="dev_ip">
            <option value="10.42.10.19">st03</option>
            <option value="10.42.10.21">st05</option>
        </select>
        <button type="submit">submit</button>
    </form>
</body>
</html>