<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} timer</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
  <h1>{{ title }} edit_line</h1>
  <table class="edit_outer">
    <tr><th class="edit_outer">Zeile anpassen</th><th class="edit_outer">&Uuml;bersicht</th></tr>
    <tr>
      <td class="edit_outer">
        <table class="edit_inner">
          <form action="/store_line" method="get"><input type="hidden" name="line_nr" id="line_nr" value="{{ line_nr }}">
            <tr>
              <td colspan="3">
                <label for="time">Zeit</label>
              </td>
              <td colspan="4">
                <input type="time" value={{ time_value }} name="time" id="time" step="1">
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <label for="daily">Täglich</label>
              </td>
              <td colspan="4">
                <input type="checkbox" {{ daily }} name="daily" id="daily">
              </td>
            </tr>
            <tr>
              <td style="text-align: center;">Sa&nbsp;
                <input type="checkbox" {{ sa }} name="sa" id="sa" value="64">&nbsp;
              </td>
              <td style="text-align: center;">Fr&nbsp;
                <input type="checkbox" {{ fr }} name="fr" id="fr" value="32">&nbsp;
              </td>
              <td style="text-align: center;">Do&nbsp;
                <input type="checkbox" {{ do }} name="do" id="do" value="16">&nbsp;
              </td>
              <td style="text-align: center;">Mi&nbsp;
                <input type="checkbox" {{ mi }} name="mi" id="mi" value="8">&nbsp;
              </td>
              <td style="text-align: center;">Di&nbsp;
                <input type="checkbox" {{ di }} name="di" id="di" value="4">&nbsp;
              </td>
              <td style="text-align: center;">Mo&nbsp;
                <input type="checkbox" {{ mo }} name="mo" id="mo" value="2">&nbsp;
              </td>
              <td style="text-align: center;">So&nbsp;
                <input type="checkbox" {{ so }} name="so" id="so" value="1">&nbsp;
              </td>
            </tr>
            <tr>
              <td colspan="3">Power</td>
              <td colspan="4">
                <input type="radio" id="on" name="power" value="on" {{ on }}>
                <label for="on">ON</label><br>
                <input type="radio" id="off" name="power" value="off" {{ off }}>
                <label for="off">OFF</label><br>
              </td>
            </tr>
            <tr>
              <td colspan="7">
                <button type="submit">Zeile speichern</button>
              </td>
            </tr>
          </form>
        </table>
      </td>
      <td class="edit_outer">
        <table>
          {{ side_table | safe }}
        </table>  
      </td>
    </tr>
  </table>                          
  <form action="/set_timer">
    <select id="dev_ip" name="dev_ip">
    {% for dev in device_list %}
      <option value="{{ dev['ip'] }}">{{ dev['name'] }}</option>
    {% endfor %}            
    </select>
    <button type="submit">lese vom Ger&auml;t</button>
  </form>
</body>
</html>