<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My timer settings</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>Schaltuhren einstellllen</h1>
    <form action="{{ url_for('edit_timer') }}">
        <select id="dev_ip" name="dev_ip">
            {% for dev in device_list %}
              <option value="{{ dev['ip'] }}">{{ dev['name'] }}</option>
            {% endfor %}            
        </select>
        <button type="submit">lese vom Ger&auml;t</button>
    </form>
    <p>{{ result }}</p>
</body>
</html>