<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="5">
    <title>{{ title }} timer</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
</head>
<body>
    <h1>{{ title }} timer</h1>
    <p>rc code is : {{ rc_code }}</p>
    {% if not rc_code == 200 %}
      <p>timer.bat not exists we will create a new one</p>
      <form action="{{ url_for('create_new') }}"><button type="submit">neues File erstellen</button></form>
    {% else %}  
      <p>  
      <table>
        {{ current_timer | safe }}
      </table></p>
    {% endif %}<br>
    <form action="{{ url_for('store_file') }}">
        <button type="submit">auf das Gerät speichern</button>
    </form><br>
    <form action="{{ url_for('edit_timer') }}">
      <select id="dev_ip" name="dev_ip">
      {% for dev in device_list %}
        <option value="{{ dev['ip'] }}">{{ dev['name'] }}</option>
      {% endfor %}            
      </select>
      <button type="submit">lese vom Ger&auml;t</button>
  </form>
</body>
</html>